@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!!!</h1>
    <p>Информация: <a href="https://docs.microsoft.com/aspnet/core">Программа разработана на ASP.NET Core</a>.</p>
</div>
